@use 'sass:math';

.blink {
    transition: all .5s;
    animation: blink-animation 1s steps(24, start) infinite;
}

@keyframes blink-animation {
    to {
        color: rgba(218, 218, 218, .7);
    }
}

@mixin blinky-keyframes($name, $from_color, $from_opacity, $to_color, $to_opacity) {
  @keyframes #{$name} {
    0% {color: $from_color; opacity: $from_opacity;}
    100% {color: $to_color; opacity: $to_opacity;}
  }
}

@mixin color-change-keyframes($name, $from_color, $from_opacity, $to_color, $to_opacity) {
  @keyframes #{$name} {
    0% {color: $from_color; opacity: $from_opacity;}
    50% {color: $to_color; opacity: $to_opacity;};
    100% {color: $from_color; opacity: $from_opacity;}
  }
}

@mixin blink-mixin($color, $timing) {
    @include blinky-keyframes(blink-animation, $color, 0, $color, 1);

    transition: all math.div($timing, 2);
    animation: blink-animation $timing steps(24, start) infinite;
}

@mixin pulse-mixin($from_color, $to_color, $timing) {
    @include color-change-keyframes(pulse-animation, $from_color, 0.5, $to_color, 1);

    transition: all math.div($timing, 2);
    animation: pulse-animation $timing ease-in-out infinite;
}
