@use '../../styles/variables';
@use '../../styles/mixins';

$statusColor: #ff8e8e;


.Header {
    display: flex;
    flex-wrap: wrap;
    .statusMessage {
        flex: 0 0 100%;
        text-align: center;
        color: #ff8e8e;
        @include mixins.pulse-mixin($statusColor, $statusColor, 5s);
    }

    .ascii-border {
        overflow: hidden;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .heading {
        white-space: pre;
        color: magenta;
        @media (max-width: variables.$smallHeaderWidth) {
            font-size: small;
        }
        @media (max-width: variables.$smallerHeaderWidth) {
            font-size: x-small;
        }
        @media (max-width: variables.$smallerHeaderWidth) {
            font-size: x-small;
        }

        >span {
            color: cyan;
            cursor: crosshair;
        }
    }
    @media (min-width: variables.$mediaMaxWidth) {
        
    }
    @media (min-width: variables.$mediaBp1Width) {

    }
    @media (min-width: variables.$mediaMinWidth) {

    }

}
