@use '../../styles/variables';

.me-pic {
    flex: 0;
    margin-left: auto;
    margin-right: 2em;
    font: 10px monospace;
    line-height: 1.2em;
    cursor: pointer;
    white-space: pre;
    user-select: none;
    @media (max-width: variables.$minHeaderWidth) {
        margin-right: auto;
    }
    &:hover {
        text-transform: uppercase;
        color: #fafafa;
    }
}
