.Cli .cv-content {
    padding-bottom: 40px;
}

.Cli input {
    width: 80%;

    border: none;
    background: none;
}

.Cli input:focus {
    outline: none;
}

.Cli tbody.commands td:first-child {
    width: 12ch;

    cursor: pointer;

    color: yellow;
}

.Cli tbody.commands td:first-child:hover {
    color: cyan;
}

.Cli tbody.commands td:nth-child(2)::before {
    content: ': ';
}

.Cli p.error {
    color: red;
}

.Cli .suggestion {
    margin-right: 1em;
}

.Cli .suggestion.active {
    background-color: #dadada;
    color: #000;
}

.sample {
    cursor: pointer;
}
