.footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 30px;
    padding: 5px 4em;

    background-color: #333;
}

.modal-content {
    border: 1px solid #aaa;
    border-radius: 0;
    background-color: #222;
}

.modal-body {
    position: relative;

    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.modal-body>iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 90%;
}

.modal-body>a {
    position: absolute;
    right: 1em;
    bottom: .5em;
}
