@use './styles/mixins';

body {
    font-family: 'Fantasque Sans Mono';
    font-size: 12pt;

    margin: 2em;
    padding: 0;

    color: #dadada;
    background-color: #000;
    @media screen and (max-device-width: 430px) {
        font-size: 10pt;
        margin: 1em;
    }
}

iframe {
    border: 0;
}

td {
    &:first-child:not(.interest) {
        white-space: pre;
    }

    &.interest {
        padding-right: .6em;
    }
}

.triggerbtn {
    background: none;
    border: none;
    outline: none;
    color: #007bff;
    &:hover {
        color: #0056b3;
        text-decoration: underline;
    }
}

.underlined {
    border-bottom: 1px dashed #aaa;
}

.blink {
    @include mixins.blink-mixin(rgba(218, 218, 218, .7), 1s);
}
